In [ ]:
import os
store_dir = '/global/cfs/projectdirs/m3443/usr/caditi97/iml2020/misaligned/new_mis/'
og_evts = '/global/cfs/projectdirs/m3443/data/trackml-kaggle/train_10evts/'
os.environ['TRKXINPUTDIR']=f"{store_dir}shift_x/"
os.environ['TRKXOUTPUTDIR']= f"{store_dir}shift_x_pre/"

In [2]:
import pkg_resources
import yaml
import pprint
import random
import numpy as np
import pandas as pd
import itertools
import matplotlib.pyplot as plt
import tqdm
from os import listdir
from os.path import isfile, join
import matplotlib.cm as cm
import sys
import csv
import time
import pickle
# %matplotlib widget

sys.path.append('/global/homes/c/caditi97/exatrkx-iml2020/exatrkx/src/')

# 3rd party
import torch
import torch.nn.functional as F
from torch_geometric.data import Data
from trackml.dataset import load_event
from pytorch_lightning import Trainer
from pytorch_lightning.callbacks import ModelCheckpoint


# local import
from exatrkx import config_dict # for accessing predefined configuration files
from exatrkx import outdir_dict # for accessing predefined output directories
from exatrkx.src import utils_dir
from exatrkx.src import utils_robust
from utils_robust import *


# for preprocessing
from exatrkx import FeatureStore
from exatrkx.src import utils_torch

# for embedding
from exatrkx import LayerlessEmbedding
from exatrkx.src import utils_torch
from torch_cluster import radius_graph
from utils_torch import build_edges
from embedding.embedding_base import *

# for filtering
from exatrkx import VanillaFilter

# for GNN
import tensorflow as tf
from graph_nets import utils_tf
from exatrkx import SegmentClassifier
import sonnet as snt

# for labeling
from exatrkx.scripts.tracks_from_gnn import prepare as prepare_labeling
from exatrkx.scripts.tracks_from_gnn import clustering as dbscan_clustering

# track efficiency
from trackml.score import _analyze_tracks
from exatrkx.scripts.eval_reco_trkx import make_cmp_plot, pt_configs, eta_configs
from functools import partial

In [3]:
event_path = '/global/cfs/cdirs/m3443/data/trackml-kaggle/train_all/'
eventid = 'event000001005'

In [4]:
misl = [0.02,0.1,0.4,0.6,0.8,1]
evts = np.arange(1000,1010,1)

In [5]:
store_dir = '/global/cfs/projectdirs/m3443/usr/caditi97/iml2020/misaligned/new_mis/'
og_evts = '/global/cfs/projectdirs/m3443/data/trackml-kaggle/train_10evts/'

In [6]:
def save_pickle(data, store_dir, store_path, eventid):
    with open('pathtofile','wb') as csvFile: 
        writer = csv.writer(csvFile)
        writer.writerows(csvstff)

In [7]:
def preprocess():
    action = 'build'
    config_file = pkg_resources.resource_filename("exatrkx",os.path.join('configs', config_dict[action]))
    with open(config_file) as f:
        b_config = yaml.load(f, Loader=yaml.FullLoader)
    pp = pprint.PrettyPrinter(indent=4)
    b_config['pt_min'] = 0
    b_config['endcaps'] = True
    b_config['n_workers'] = 2
    b_config['n_files'] = 10
    b_config['noise'] = 0
    pp.pprint(b_config)
    preprocess_dm = FeatureStore(b_config)
    preprocess_dm.prepare_data()

# Remove Volume 8 Layer 6

In [8]:
def remove_v8l6(hits,cells,particles,truth,store_dir,ev):
    
    nhits = hits[(hits['volume_id']==8) & (hits['layer_id']==6)]
    fhits = hits[~hits['hit_id'].isin(nhits['hit_id'])]
    fcells = cells[~cells['hit_id'].isin(fhits['hit_id'])]
    ftruth = truth[~truth['hit_id'].isin(fhits['hit_id'])]
    fparticles = particles[particles['particle_id'].isin(ftruth['particle_id'])]
    
    name = f"{store_dir}remove_v8l6/event00000{ev}-"
    
    fhits.to_csv(name+"hits.csv", index=False)
    fcells.to_csv(name+"cells.csv", index=False)
    ftruth.to_csv(name+"truth.csv", index=False)
    fparticles.to_csv(name+"particles.csv", index=False)

In [9]:
# select 10 events, remove v8l6 
for evtid in evts:
    hits, cells, particles, truth = trackml.dataset.load_event(f"{og_evts}event00000{str(evtid)}")
    remove_v8l6(hits,cells,particles,truth,store_dir,evtid)

In [10]:
v,_,_,_ = trackml.dataset.load_event(f"/global/cfs/projectdirs/m3443/usr/caditi97/iml2020/misaligned/new_mis/remove_v8l6/{eventid}")

In [11]:
# # check inference
# import os
# preprocess()
v[(v['volume_id']==8) & (v['layer_id']==6)]

Empty DataFrame
Columns: [hit_id, x, y, z, volume_id, layer_id, module_id]
Index: []

# Shift only x coordinate of every hit

In [12]:
def shift_x(hits,cells,particles,truth,store_dir,ev,mis):
    
    # 1000 micron = 1 milimeter
    # one direction
    hits.loc[:, 'x'] = hits['x']+mis
#     hits.loc[hits['x']<0, 'x'] = hits['x']-mis
#     hits.loc[hits['x']>0, 'x'] = hits['x']+mis
    
    name = f"{store_dir}shift_x/{mis}/event00000{ev}-"
    
    hits.to_csv(name+"hits.csv", index=False)
    cells.to_csv(name+"cells.csv", index=False)
    truth.to_csv(name+"truth.csv", index=False)
    particles.to_csv(name+"particles.csv", index=False)

In [13]:
for mis in misl:
    for evtid in evts:
        hits, cells, particles, truth = trackml.dataset.load_event(f"{og_evts}event00000{str(evtid)}")
        shift_x(hits,cells,particles,truth,store_dir,evtid,mis)

In [15]:
oh,oc,op,ot = trackml.dataset.load_event(f"{og_evts}{eventid}")
oh

        hit_id           x          y       z  volume_id  layer_id  module_id
0            1  -68.878403   2.077260 -1502.5          7         2          1
1            2  -91.987801 -10.524700 -1502.5          7         2          1
2            3  -54.743698  -6.891380 -1502.5          7         2          1
3            4  -56.549900  -6.883070 -1502.5          7         2          1
4            5  -55.004700 -11.325500 -1502.5          7         2          1
...        ...         ...        ...     ...        ...       ...        ...
110018  110019 -752.534973  65.378098  2944.5         18        12         97
110019  110020 -783.512024  69.813599  2944.5         18        12         97
110020  110021 -777.473999   2.915470  2944.5         18        12         97
110021  110022 -974.481995  10.208400  2952.5         18        12         98
110022  110023 -961.247009  54.945599  2952.5         18        12         98

[110023 rows x 7 columns]

In [14]:
h,c,p,t = trackml.dataset.load_event(f"/global/cfs/projectdirs/m3443/usr/caditi97/iml2020/misaligned/new_mis/shift_x/1/{eventid}")
h

        hit_id           x          y       z  volume_id  layer_id  module_id
0            1  -67.878403   2.077260 -1502.5          7         2          1
1            2  -90.987801 -10.524700 -1502.5          7         2          1
2            3  -53.743698  -6.891380 -1502.5          7         2          1
3            4  -55.549900  -6.883070 -1502.5          7         2          1
4            5  -54.004700 -11.325500 -1502.5          7         2          1
...        ...         ...        ...     ...        ...       ...        ...
110018  110019 -751.534973  65.378098  2944.5         18        12         97
110019  110020 -782.512024  69.813599  2944.5         18        12         97
110020  110021 -776.473999   2.915470  2944.5         18        12         97
110021  110022 -973.481995  10.208400  2952.5         18        12         98
110022  110023 -960.247009  54.945599  2952.5         18        12         98

[110023 rows x 7 columns]

# Shift only x coordinate of Volume 8 all layers

In [16]:
def shift_x_v8(hits,cells,particles,truth,store_dir,ev,mis):
    
    # 1000 micron = 1 milimeter
    #one direction
    hits.loc[(hits['volume_id']==8), 'x'] = hits[hits['volume_id']==8]['x']+mis
#     hits.loc[(hits['volume_id']==8) & (hits['x']<0), 'x'] = hits[hits['volume_id']==8]['x']-mis
#     hits.loc[(hits['volume_id']==8) & (hits['x']>0), 'x'] = hits[hits['volume_id']==8]['x']+mis
    
    name = f"{store_dir}shift_x_v8/{mis}/event00000{ev}-"
    
    hits.to_csv(name+"hits.csv", index=False)
    cells.to_csv(name+"cells.csv", index=False)
    truth.to_csv(name+"truth.csv", index=False)
    particles.to_csv(name+"particles.csv", index=False)

In [17]:
for mis in misl:
    for evtid in evts:
        hits, cells, particles, truth = trackml.dataset.load_event(f"{og_evts}event00000{str(evtid)}")
        shift_x_v8(hits,cells,particles,truth,store_dir,evtid,mis)

In [19]:
oh,oc,op,ot = trackml.dataset.load_event(f"{og_evts}{eventid}")
oh[oh['volume_id'] == 8]

,hit_id,x,y,z,volume_id,layer_id,module_id
15213,15214,-32.226700,-4.586000,-474.190002,8,2,1
15214,15215,-32.626598,-3.442120,-454.467987,8,2,1
15215,15216,-30.083700,-14.257500,-461.166992,8,2,2
15216,15217,-18.472500,-26.547300,-477.484985,8,2,3
15217,15218,-20.716000,-25.466200,-468.579010,8,2,3
...,...,...,...,...,...,...,...
41449,41450,-168.143997,36.557201,483.890015,8,8,1090
41450,41451,-170.589996,25.515100,423.203003,8,8,1091
41451,41452,-170.440002,17.709600,419.201996,8,8,1091
41452,41453,-170.417999,16.547100,430.428009,8,8,1091
41453,41454,-171.050995,1.318630,483.808990,8,8,1092

In [18]:
h,c,p,t = trackml.dataset.load_event(f"/global/cfs/projectdirs/m3443/usr/caditi97/iml2020/misaligned/new_mis/shift_x_v8/1/{eventid}")
h[h['volume_id'] == 8]

,hit_id,x,y,z,volume_id,layer_id,module_id
15213,15214,-31.226700,-4.586000,-474.190002,8,2,1
15214,15215,-31.626598,-3.442120,-454.467987,8,2,1
15215,15216,-29.083700,-14.257500,-461.166992,8,2,2
15216,15217,-17.472500,-26.547300,-477.484985,8,2,3
15217,15218,-19.716000,-25.466200,-468.579010,8,2,3
...,...,...,...,...,...,...,...
41449,41450,-167.143997,36.557201,483.890015,8,8,1090
41450,41451,-169.589996,25.515100,423.203003,8,8,1091
41451,41452,-169.440002,17.709600,419.201996,8,8,1091
41452,41453,-169.417999,16.547100,430.428009,8,8,1091
41453,41454,-170.050995,1.318630,483.808990,8,8,1092

# Shift x and y coordinates of all layers in volume 8

In [20]:
def shift_xy_v8(hits,cells,particles,truth,store_dir,ev,mis):
    
    # 1000 micron = 1 milimeter
    # two directions
#     hits.loc[(hits['volume_id']==8) & (hits['x']<0), 'x'] = hits[hits['volume_id']==8]['x']-mis
#     hits.loc[(hits['volume_id']==8) & (hits['x']>0), 'x'] = hits[hits['volume_id']==8]['x']+mis
#     hits.loc[(hits['volume_id']==8) & (hits['y']<0), 'x'] = hits[hits['volume_id']==8]['y']-mis
#     hits.loc[(hits['volume_id']==8) & (hits['y']>0), 'x'] = hits[hits['volume_id']==8]['y']+mis
    # one direction
    hits.loc[(hits['volume_id']==8), 'x'] = hits[hits['volume_id']==8]['x']+mis
    hits.loc[(hits['volume_id']==8), 'y'] = hits[hits['volume_id']==8]['y']+mis
    
    name = f"{store_dir}shift_xy_v8/{mis}/event00000{ev}-"
    
    hits.to_csv(name+"hits.csv", index=False)
    cells.to_csv(name+"cells.csv", index=False)
    truth.to_csv(name+"truth.csv", index=False)
    particles.to_csv(name+"particles.csv", index=False)

In [21]:
for mis in misl:
    for evtid in evts:
        hits, cells, particles, truth = trackml.dataset.load_event(f"{og_evts}event00000{str(evtid)}")
        shift_xy_v8(hits,cells,particles,truth,store_dir,evtid,mis)

In [23]:
oh,oc,op,ot = trackml.dataset.load_event(f"{og_evts}{eventid}")
oh[oh['volume_id'] == 8]

,hit_id,x,y,z,volume_id,layer_id,module_id
15213,15214,-32.226700,-4.586000,-474.190002,8,2,1
15214,15215,-32.626598,-3.442120,-454.467987,8,2,1
15215,15216,-30.083700,-14.257500,-461.166992,8,2,2
15216,15217,-18.472500,-26.547300,-477.484985,8,2,3
15217,15218,-20.716000,-25.466200,-468.579010,8,2,3
...,...,...,...,...,...,...,...
41449,41450,-168.143997,36.557201,483.890015,8,8,1090
41450,41451,-170.589996,25.515100,423.203003,8,8,1091
41451,41452,-170.440002,17.709600,419.201996,8,8,1091
41452,41453,-170.417999,16.547100,430.428009,8,8,1091
41453,41454,-171.050995,1.318630,483.808990,8,8,1092

In [22]:
h,c,p,t = trackml.dataset.load_event(f"/global/cfs/projectdirs/m3443/usr/caditi97/iml2020/misaligned/new_mis/shift_xy_v8/1/{eventid}")
h[h['volume_id'] == 8]

,hit_id,x,y,z,volume_id,layer_id,module_id
15213,15214,-31.226700,-3.586000,-474.190002,8,2,1
15214,15215,-31.626598,-2.442120,-454.467987,8,2,1
15215,15216,-29.083700,-13.257500,-461.166992,8,2,2
15216,15217,-17.472500,-25.547300,-477.484985,8,2,3
15217,15218,-19.716000,-24.466200,-468.579010,8,2,3
...,...,...,...,...,...,...,...
41449,41450,-167.143997,37.557201,483.890015,8,8,1090
41450,41451,-169.589996,26.515100,423.203003,8,8,1091
41451,41452,-169.440002,18.709600,419.201996,8,8,1091
41452,41453,-169.417999,17.547100,430.428009,8,8,1091
41453,41454,-170.050995,2.318630,483.808990,8,8,1092